.wrapper{
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}


section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5em;
}

section aside{
  width: 100%;  
  background-color: #f9f4ed;
    padding: 20px;
}
 section div {
    width: 100%;
    background-color: #f9f4ed;
    padding: 20px;
}



@media(min-width: 800px){
    section{
        flex-direction: row;
    }

    section aside{
        width: 20%;
    }
    

    
}

